
<div class="row no-mrg">
  <div class="col-sm-9 calendar nomrg">

    <%= raw(@page.content_for(:events)) %>

  </div>
  <div class="col-sm-3">
    <%= render partial: 'shared/contact_us' %>
    <%= render partial: 'shared/media_links' %>
    <%= render partial: 'shared/video' %>
  </div>

</div>
