#footer
  %p
    = t('.copyright', year: Time.now.year, site_name: '')
    %strong 
      =Refinery::Core.site_name
  #colors.pull-right
    .green
    .yello
    .orange
    .red
    .blue
    .lime
    .purple
