@import "refinery/formatting";
@import "refinery/theme";
@import "bootstrap-sprockets";

$navbar-default-bg: #1d8653;
$navbar-default-height: 45px;

$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-active-color: #000;
$navbar-border-radius: 0px;

$dark-green: #1c7a48;
$grey: #f7f7f7;

@import "bootstrap";

#header-container{
  width: 890px;
  position: fixed;
  height: 160px;
  background-color: #fff;
  z-index: 100;
}

.navbar-default{
  height: 50px;
}

.navbar-nav{
  margin-left: -16px;
  li{
    min-width: 60px;
    padding-right: 30px;
    height: 50px;
  }
  li>a{
    padding: 3px 0px 3px 7px;
    max-width: 100px;
  }
}

.padd{
  padding-top: 13px !important;
  padding-bottom: 10px !important;
}

#main-content{
  margin-top: 175px;
  .row{
    width: 920px;
  }

}

#main-container{
  width: 920px;
}

#main-content{
  .row{
    margin-left: 20px;
    width: 865px;
  }
}
#search-form{
  position: relative;
}
#body{
  .inner{
    margin-left: -28px;
  }
}
.form-wrapper{
  position: fixed;
  width: 205px;
  .form-title{
    background-color: $dark-green;
    padding: 3px;
    padding-left: 10px;
    color: #fff;
    border-top-left-radius:5px;
    border-top-right-radius:5px;

  }
}

#side_body{
  display: none;
}

.side-form{
  background-color: $grey;
  padding: 10px;
  color: $dark-green;
  input[type="submit"]{
    margin-top: 5px;
    border-radius: 5px;
    background-color: transparent;
  }
  label{
    font-weight: 300;
    font-size: 15px;
  }
}

#body_content_title{
  display: none;
}
.mid-content{
  p{
    width: 660px;
    margin: auto;
  }
}
#logo{

  display: inline-block;
  height: 100px;

  img{
    height: 100px;
  }

}

ul.navbar-nav{
  margin-top: -5px;
}

.lcl{
  color: #fff !important;

  &:hover{
    background-color: transparent !important;
    color: #000 !important;
  }
}

#forms{
  margin: 5px 0px 5px 0px;
  background-color: #f5f5f5;
  padding: 10px;

  form input[type="text"], form input[type="password"]{
    margin: 5px 5px 5px 0px;
    width: 200px;
    padding: 3px;
    background-color: #c5c5c5;
    color: #000;
    border-radius: 3px;
  }
  .remember{
    font-size: 12px;
  }
}

#top-container{
  margin-bottom: 10px;
  height: 100px;
}

#footer{
  margin-top: 50px;

  p{
    display: inline-block;
    width: 25%;
  }

  #colors{
    margin-top: 3px;
    width: 655px;
    div{
      height: 15px;
      width: 55px;
      margin: 0px -4px 0px -4px;
      display: inline-block;
    }
    .green{
      width: 340px;
    }
    .yello{
      width: 64px;
    }
    .orange{
      width: 57px;
    }
    .lime{
      width: 58px;
    }
  }
}

.green{
  background-color: #1c7a48;
}
.yello{
  background-color: #f6ee1d;
}
.orange{
  background-color: #f58220;
}
.red{
  background-color: #c92127;
}
.blue{
  background-color: #0f82b7;
}
.lime{
  background-color: #bed62f;
}
.purple{
  background-color: #4b124d;
}

#left_side_body{
  left: 10%;
  margin-left: -13%;
  margin-top: 17px;
  margin-right: -35px;
  ul{
    list-style: none;
    margin: -20px 0px 0px 0px;

    li{
      margin-bottom: 10px;
    }
  }

}
#body{
  p.lefty{
    width: 820px;
  }
}
.fixed{
  position: fixed;
  top: 20px;
}
