.nav-li{
  a{
    text-shadow: #333 1px 1px 2px;
  }
  &.active{
    top: -2px;
    a{
      color: #fff !important;
    }
  }
  a:hover{
    font-weight: bold;
    color: #fff !important;
  }

}

.navbar-default{
  background-color: #fff;
  border: none;
  min-height: 29px;
  height: 29px;
}
.new_student, .edit_student{
  textarea{
    height: 50px;
    max-height: 100px;
    width: 220px;
    max-width: 220px;
  }
  label{
    margin-bottom: 0px;
  }
  textarea, input[type="text"]{
    margin-bottom: 10px;
  }
}
.alert{
  text-align: center;
}
.alert-success{
  position: absolute;
  width: 60%;
  left: 20%;
  top: 5px;
  display: block;
  z-index: 1000;
  height: 40px;
  padding: 10px;
}
.error-msg{
  width: 80%;
}
.grayed{
  color: #66f;
}