$navbar-default-bg: #1d8653;
$navbar-default-height: 45px;

$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-active-color: #000;
$navbar-border-radius: 0px;

$dark-green: #1c7a48;
$grey: #f7f7f7;

.nav-li{
  a{
    text-shadow: #333 1px 1px 2px;
  }
  &.active{
    top: -2px;
    a{
      color: #fff !important;
    }
  }
  a:hover{
    color: #fff !important;
  }
  &:hover{
    top: -4px;
  }

}

.navbar-default{
  background-color: #fff;
  border: none;
  min-height: 29px;
  height: 29px;
}
form{
  textarea{
    height: 50px;
    max-height: 100px;
    width: 220px;
    max-width: 220px;
  }
  label{
    margin-bottom: 0px;
  }
  textarea, input[type="text"]{
    margin-bottom: 10px;
  }
}
.alert{
  text-align: center;
}
.alert-success{
  position: fixed;
  width: 60%;
  left: 20%;
  top: 5px;
  display: block;
  z-index: 1000;
  height: 40px;
  padding: 10px;
}
.error-msg{
  width: 80%;
}
.grayed{
  color: #66f;
}
.pull-right-nc{
  float: right;
}
.small-font{
  font-size: 10px;
}
.modal-dialog{
  z-index: 2000;
}
.center{
  text-align: center;
}
.month{
  display: block;
  clear: both;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
input.parsley-error, select.parsley-error, textarea.parsley-error{
  border: 1px solid #BB0E13;
}
.parsley-errors-list{
  display: inline-block;
}
